.container-edit {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.my-universe-background-dpro{
    background-image: url(./../Images/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

.product-card {
    padding: 16px;
    border-radius: 8px;
    transition: all ease 150ms;
    box-sizing: border-box;
    width: 340px;
    border: 1px solid #e2e5e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
}

.product-card:hover {
    box-shadow: 0px 4px 8px rgb(91, 1, 132),
    0px 2px 4px rgba(59, 69, 123, 0.2);
}

.product-card img {
    object-fit: contain;
    height: 250px;
}

  
#postImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* #my-universe-nav-posts{
    color: black;
    cursor: 'pointer';
    font-size: 30px;
    font-weight: 500;
   
}


#my-universe-nav-posts:hover{
    color: black;
    border-bottom: 2px solid black;
    cursor: 'pointer';
    padding-bottom: 5px ;
}

#row-nav{
    border-bottom: 1px solid grey;
} */


/* .btn-edit {
    display: inline-block;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 12px;
}

.btn-edit:focus {
    outline: 0.5rem auto purple;
} */
/* 
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
} */

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

#profile-image {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border:  1px solid #e0e0e0;
}


.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.5rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 60px;
    font-weight: 300;
}

/* .profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 1rem;
    display: flex;
}

.profile-stat-count{
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    font-style: italic;
} */

/* #profile-img {
    width: 30rem;
    height: 30rem;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
}

#profile-img-edit {
    width: 5rem;
    height: 5rem;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
} */

.profile-bio {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
    color: #555;
    /* margin-top: 1.5rem; */
}

.profile-real-name,
.profile-edit-btn {
    font-weight: 600;
}


/* Gallery Section */

/* .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.gallery-item {
    display: flex;
    position: relative;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
} */

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

/* newest css */

.container-new{
    display: grid;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    gap: 15px;
    grid-template-areas: "photo name"
                         "photo label"
                         "photo description";
    @media (max-width: 990px){
        grid-template-areas: "photo name"
                                /* "label ." */
                                "description .";
    };

    @media (max-width: 3000px){
        grid-template-areas: "label"
    }
}

.photo{
    grid-area: photo;
    margin-top: 30px;
}

.images{
    width: 200px;
    height: 200px;
    margin: 40px;
    border-radius: 50%;
    @media (max-width: 990px){
        margin: 20px;
        width: 120px;
        height: 120px;
    }
    /* ${({mini}) => mini && css`
        width: 50px;
        height: 50px;
        margin: 5px;
        @media (max-width: 990px){
            margin: 5px;
            width: 30px;
            height: 50px;
        } 
        
    `};
    background: no-repeat center/170% url(/img/profileImage.jpeg); */
    
}

.name{
    grid-area: name;
    font-size: 35px;
    align-self: center;
}

.label{
    grid-area: label;
    @media (max-width: 990px){
        padding-left: 25px;
    }
}

.description{
    grid-area: description;
    max-width: 400px;
    @media (max-width: 990px){
        grid-column: 1/3;
        padding-left: 25px;
    }
}

.link-grid{
    display: flex;
    margin-left: 50px;
  /* display: grid;
  grid-template-columns: auto auto; 
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px; */
}

.tab-link{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.tab-link:hover{
    text-decoration: none;
    color: purple;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.photo-grid{
    display: grid;
  grid-template-columns: repeat(3, 305px);
  justify-content: center;
  gap:20px;
  grid-auto-rows: 305px;
 
  @media (max-width: 990px){
    gap: 5px;
    padding-left: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(33vw - 10px);
    }
}

.photo-show{
    background: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.photo-show:hover{
    opacity: 7;
    background-size: cover;
    grid-row-start: span 2;

}
