/* .detail-post-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 15px;
} */

.userImgDet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.my-universe-background-dpost{
    background-image: url(./../Images/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}
/* nn */

#cardIconDet{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}


.app-detail{
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 0 5px #ccc;
  }
  .details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .details .big-img{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
  }
  .big-img img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
  }
  
  .details .box{
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
  }

  #content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .box .row{
    display: flex;
    margin-bottom: 15px;
  }
  .box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .box .row span{
    color: crimson;
  }
  .box .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
  }
  .box p{
    line-height: 1.5;
    margin: 15px 0;
  }
  .thumb{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
  }
  .thumb img{
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
  }
  .thumb img.active{
    opacity: 1;
    border: 1px solid lightseagreen;
  }
  .box .cart{
    background: #333;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    margin-top: 15px;
  }

  .cart-comment{
    outline: none;
    border: 1px solid #333;
    padding: 10px 25px;
    margin-top: 15px;
  }
  
  @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  }