.my-universe-background-for{
    background-image: url(./../Images/bg-09.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

/* .forgot-password {
  height: 100vh;
  padding-top: 150px;
}

.container-forgot-password {
  width: 450px;
} */

.info {
  text-align: center;
  margin-bottom: 30px;
}

.alert {
  text-align: center;
}

#my-universe-btn-pass{
  background-color: rgb(91, 1, 132);
  color: white;
  width: 300px;
}