.my-universe-background-home{
    background-image: url(./../Images/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}


#homepage{
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  display: flex;
}

.my-universe-homepage-image{
    padding-bottom: 30px;
    border: 1px solid black;
    
}

.my-universe-font{
    color: purple;
}

.my-universe-btn{
    border-radius: 30px;
    background-color: rgb(91, 1, 132);
    color: white;
    width: 150px;
    margin-top: 20px;
}

.my-universe-btn:hover{
    background-color: rgb(124, 101, 136);
    color: black;
}

.card-profile {
    height: 350px;
  }
  
  .info {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    padding-top: 0;
  }

  .info-body {
    font-weight: 500;
    font-size: 14px;
    height: 120px;
  }
  
  .tittle{
    height: 35px;
  }
  
  #userImg {
    width: 30px;
    margin-right: 10px; 
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #postImg{
      width: 100%;
      height: 200px;
      object-fit: cover;
  }
  
  #interaction{
      display: flex;
      margin-top: 5px;
      position: relative;
  }

  #my-universe-btn-home{
    background-color: rgb(91, 1, 132);
    color: white;
    width: 150px;
}

  #cardIcon{
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 10px;
  }
  
  #infoIcon{
      position: absolute;
      right: 0;
      width: 12px;
      height: 12px;
  }

  .product-card {
    padding: 16px;
    border-radius: 8px;
    transition: all ease 150ms;
    box-sizing: border-box;
    width: 340px;
    border: 1px solid #e2e5e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
}

.product-card:hover {
    box-shadow: 0px 4px 8px rgb(91, 1, 132),
    0px 2px 4px rgba(59, 69, 123, 0.2);
}

.product-card img {
    object-fit: contain;
    height: 250px;
}

/* mm */

@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");