.my-universe-background-log{
    background-image: url(./../Images/bg-09.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}


.my-universe-input-log{
    border-bottom: 1px solid darkgrey;
    height: 50px;
}

#my-universe-btn-log{
    background-color: rgb(91, 1, 132);
    color: white;
    width: 150px;
}


#my-universe-btn-log:hover{
    background-color: rgb(124, 101, 136);
    color: black;
}

.my-universe-form-log{
    width: 300px;
}
