.my-universe-background-reg{
    background-image: url(./../Images/bg-09.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}


.my-universe-form-input-register {
    font-size: 0.8rem;
    margin-top: 10px;
    color: black;
    width: 80%;
    text-align: left;
  }
  
.my-universe-form-input-register a {
    text-decoration: none;
    color: purple;
    font-weight: 600;
}

.my-universe-form-reg{
    width: 100%;
}
.my-universe-form-reg-01{
    width: 55%;
}
.my-universe-btn-reg{
    border-radius: 30px;
    background-color: rgb(91, 1, 132);
    color: white;
    width: 150px;
    margin-top: 20px;
}

.my-universe-btn-reg:hover{
    background-color: rgb(124, 101, 136);
    color: black;
}

#my-universe-img-reg{
    width: 100%;
   
}

.my-universe-input-reg{
    border-bottom: 1px solid darkgrey;
    height: 50px;
}

.my-universe-input-reg-02{
    height: 50px;
}

.my-universe-validation-alert-reg{
    height: 20px;
    font-size: 0.8rem;
    color: red;
    font-family: 'Yatra One';
    margin-left: 3px;
}

#my-universe-btn-reg{
    background-color: rgb(91, 1, 132);
    color: white;
    width: 150px;
}

.my-universe-form-reg{
    margin-top: -20px;
}

#my-universe-btn-reg:hover{
    background-color: rgb(124, 101, 136);
    color: black;
}