.reset-password {
    height: 100vh;
    padding-top: 150px;
  }
  
  .container-reset-password {
    width: 450px;
  }
  
  .input-invalid {
    border-color: red;
  }
  
  .validation-alert {
    margin-top: 7px;
    font-size: 13px;
  }

  .my-universe-background-reset{
    background-image: url(./../Images/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}